CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = usergate
database.default.username = usergate
database.default.password = change_this_password
database.default.DBDriver = MySQLi
database.default.port = 3306
