CI_ENVIRONMENT = development
APP_PORT = 8081
app.baseURL = 'http://usergate.sandalgurun.web.id/'
app.forceGlobalSecureRequests = false

database.default.hostname = 10.10.10.12
database.default.database = db_am_usergate
database.default.username = usg
database.default.password = usg11
database.default.DBDriver = MySQLi
database.default.port = 3306
