CI_ENVIRONMENT = production
app.baseURL = 'http://localhost:8081/'
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = usergate
database.default.username = usr
database.default.password = usr11
database.default.DBDriver = MySQLi
database.default.port = 3306
